.repeat-item.ng-enter,
.repeat-item.ng-leave {
  -webkit-transition:0.3s linear all;
  transition:0.3s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  opacity:0;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity:1;
}


.a-show-fade {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  opacity:1;
}
 
.a-show-fade.ng-hide-add,
.a-show-fade.ng-hide-remove {
  display:block!important;
}
 
.a-show-fade.ng-hide {
  opacity:0;
}
 
