$clr-1: #DED7BA;
$clr-1-contrast-1: #7A7662;
$clr-2: #56596B;
$clr-2-contrast-1: #DFE2F5;
$clr-3: #96AB59;
$clr-3-contrast-1: #595959;
$clr-4: #B87676;
$clr-4-contrast-1: #595959;

.clr-2 {
  color: $clr-2;
}

.clr-4 {
  color: $clr-4;
}

.paint {
  &.clr-1 {
    background: $clr-1;
    color: $clr-1-contrast-1;
  }

  &.clr-2 {
    background: $clr-2;
    color: $clr-2-contrast-1;
    a {
      color: $clr-2-contrast-1;
    }
    a:hover {
      color: lighten($clr-2-contrast-1, 15%);
    }
  }

  &.clr-3 {
    background: $clr-3;
    color: $clr-1;
  }

  &.clr-4 {
    background: $clr-4;
    color: $clr-1;
    a:hover, button:hover {
      background: lighten($clr-4, 5%);
    }
  }
}

button.paint.clr-3:hover {
  background: lighten($clr-3, 5%);
}

button.paint.clr-4:hover {
  background: lighten($clr-4, 5%);
}

$font-family-1: "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif !default; 
$font-family-2: "Average Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
