<section class="fw-wrap paint clr-1 m-panel-padded-lg">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-right">Who owes who what?</h1>
        <h2 class="text-right">a good times calculator...</h2>
      </div>
      <div class="col-md-5">
        <p>You know when you go on a group trip with your mates and you
        are all splitting costs, Terry pays for the gas in Taupo,
        while Sarah in the other car grabs a few doz tui... fast forward
        to the end of an awesome trip, and some poor bugger usually has
        to strain their brain over a hammy spreadsheet.  Not any more.  </p>
      </div>
    </div>
  </div>
</section>
<section class="fw-wrap paint clr-2 m-panel-padded-sm quick-start">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-right">Quick start: </h1>
      </div>
      <div class="col-md-5">
        <label for="description">Describe it:</label>
        <form ng-submit="createGroup()">
          <input id="description" ng-model="group.description" type="text">
          <button class="paint clr-3">Create it</button>
        </form>
      </div>
    </div>
  </div>
</section>
